<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./components/header%>
</head>

<body>
  <header>
    <% include ./components/navbar%>
  </header>

  <main>
    <section class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-9 pb-4">
            <div class="text-center">
              <div class="card card-header rounded text-white w-100 font-weight-bolder" style="background-image: linear-gradient(to top, #CA7C0D, #F3CCC4);"><%=anime.name%></div><br>
              <% if(anime.image){%>
              <div class="row">
                <div class="col">
                  <img class="img-responsive" src="https://lh3.google.com/u/0/d/<%-anime.image%>=w915-h917-iv1" alt="image">
                </div>
              </div>
              <%} %> 
              <% if(anime.genre){%>
                <div class="text-left">
                 <small>Genres : <span class="text-orange"><%=anime.genre %> </span></small>
                <br>
                <small>Status  : <span class="text-orange"><%-(anime.ongoing)?'Ongoing':'Completed'%></span></small><br>
                <small>Summary :</small><br>
                <div class="row">
                  <div class="col-12">
                    <pre class="text-white"><%-anime.description%></pre>
                  </div>
                </div>
              </div>
              <%} %> 
            </div>
            <!-- episodes -->
            <br>
            <div>
              <%seasons.forEach(function(season,i){%>
                <div class="accordion" id="accordionSeasons">
                  <div class="card border-0" style="border-radius: 0;">
                    <div class="border border-secondary" style="background-color:#e4e4e4;">
                      <h2 class="mb-0" id="heading<%=season.season%>">
                        <div type="button" data-toggle="collapse" data-target="#collapse<%=season.season%>" aria-expanded="false"
                          aria-controls="collapse<%=season.season%>">
                          <div class="text-dark p-2 d-flex justify-content-between ">
                            <span class="h6">Season : <%=season.season%> <%-anime.seasons[anime.seasons.findIndex((a)=>{return a.number==season.season})].name%> </span>
                            <span class="h6"> (<%-season.count%> Episodes)</span>
                          </div>
                        </div>
                      </h2>
                    </div>
        
                    <div id="collapse<%=season.season%>" class="collapse" aria-labelledby="heading<%=season.season%>" data-parent="#accordionSeasons" style="background-color: #000;color: #fff;">
                      <div class="card-body">
                        <%season.episodes.forEach(function(e,i){%>
                        <a class="text-orange" href="/anime/play/<%-e.anime.trim().replace(/ /g,'-')%>/<%-encrypt(e.seasonNo.trim().replace(/ /g,'-'))%>/<%-encrypt(e.episodeNo.trim().replace(/ /g,'-'))%>">
                          Episode <%-e.episodeNo%> <%-e.name%>
                        </a>
                        <br>
                        <%})%>
                      </div>
                    </div>
                  </div>
                </div>
                <%})%>
            </div>
          </div>

          <!-- sidebar -->
          <div class="col-md-3">
            <div class="card border-0" style="border-radius:0">
              <div class="card-header"  style="background-image: linear-gradient(to top, #CA7C0D, #F3CCC4);">
                <h6 class="title text-dark">Search By Genre</h6>
              </div>
              <div class="card-body" style="background-color: #000;">
                <div><a class="text-orange" href="/genre/action">Action</a></div>
                <div><a class="text-orange" href="/genre/Comedy">Adventure</a></div>
                <div><a class="text-orange" href="/genre/Comedy">Comedy</a></div>
                <div><a class="text-orange" href="/genre/Drama">Drama</a></div>
                <div><a class="text-orange" href="/genre/Fantasy">Fantasy</a></div>
                <div><a class="text-orange" href="/genre/Game">Game</a></div>
                <div><a class="text-orange" href="/genre/Historical">Historical</a></div>
                <div><a class="text-orange" href="/genre/Magic">Magic</a></div>
                <div><a class="text-orange" href="/genre/Martial Arts">Martial Arts</a></div>
                <div><a class="text-orange" href="/genre/Mystery">Mystery</a></div>
                <div><a class="text-orange" href="/genre/Psychological">Psychological</a></div>
                <div><a class="text-orange" href="/genre/Sci-Fi">Sci-Fi</a></div>
                <div><a class="text-orange" href="/genre/Slice of Life">Slice of Life</a></div>
                <div><a class="text-orange" href="/genre/Space">Space</a></div>
                <div><a class="text-orange" href="/genre/Special">Special</a></div>
                <div><a class="text-orange" href="/genre/Sports">Sports</a></div>
                <div><a class="text-orange" href="/genre/Super-Powe">Super Power</a></div>
                <div><a class="text-orange" href="/genre/Supernatural">Supernatural</a></div>
                <div><a class="text-orange" href="/genre/Thriller">Thriller</a></div>
                <div><a class="text-orange" href="/genre/Vampire">Vampire</a></div>
              </div>
            </div>
          </div>
        </div>
        <br>
       
      </div>
    </section>
  </main>

  <!-- adstarget ad s-->
  <div class="adflexbox" id="bfc0fba33f986c2b850c94e22ad858023"></div>
  <script>
    (function (d, w) {
      if (!w.adflex) {
        var s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//portal.adstargets.com/loader.js";
        d.getElementsByTagName('head')[0].appendChild(s);
        w.adflex = {
          host: '//portal.adstargets.com'
        };
      }
    })(document, window);
  </script>
  <% include ./components/footer%>
  <!-- <script src="https://www.google.com/recaptcha/api.js?render=6Lcy044UAAAAADC8Js9prdLvjr_6Xrg-apcZzqtQ"></script> -->
  <script>
    // grecaptcha.ready(function() {
    //     grecaptcha.execute('6Lcy044UAAAAADC8Js9prdLvjr_6Xrg-apcZzqtQ', {action: '/'}).then(function(token) {
    //        console.log("token",token);
    //        // window.location = '/anime/play/naruto/1/1'
    //     });
    // });
  </script>
</body>

</html>