<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./components/header%>
  </head>
  <body>
    <header>
      <% include ./components/navbar%>
    </header>

    <main>
      <div class="container">
        <%-anime[0].name%><br>
        <%episodes.forEach(function(e,i){%>
          <a href="/anime/play/<%-e.anime%>/<%-e.seasonNo%>/<%-e.episodeNo%>">Season <%-e.seasonNo%> Episode <%-e.episodeNo%> <%-e.name%></a><br>
        <%})%>
      </div>
    </main>

    <footer>

    </footer>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>
