<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./components/header%>
</head>

<body>
  <header>
    <% include ./components/navbar%>
  </header>

  <main>
    <div class="container">
      <%=anime%><br>
      <%episodes.forEach(function(e,i){%>
      <a
        href="/anime/play/<%-e.anime.trim().replace(/ /g,'-')%>/<%-e.seasonNo.trim().replace(/ /g,'-')%>/<%-e.episodeNo.trim().replace(/ /g,'-')%>">Season
        <%-e.seasonNo%> Episode <%-e.episodeNo%> <%-e.name%></a><br>
      <%})%>
    </div>
  </main>

  <!-- adstarget ad s-->
  <div class="adflexbox" id="bfc0fba33f986c2b850c94e22ad858023"></div>
<script>
    (function(d, w) {
        if (!w.adflex) {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//portal.adstargets.com/loader.js";
            d.getElementsByTagName('head')[0].appendChild(s);
            w.adflex = {host: '//portal.adstargets.com'};
        }
    })(document, window);
</script>
  <% include ./components/footer%>
  <!-- <script src="https://www.google.com/recaptcha/api.js?render=6Lcy044UAAAAADC8Js9prdLvjr_6Xrg-apcZzqtQ"></script> -->
  <script>
    // grecaptcha.ready(function() {
    //     grecaptcha.execute('6Lcy044UAAAAADC8Js9prdLvjr_6Xrg-apcZzqtQ', {action: '/'}).then(function(token) {
    //        console.log("token",token);
    //        // window.location = '/anime/play/naruto/1/1'
    //     });
    // });
  </script>
</body>

</html>