<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./components/header%>
  <link href="//vjs.zencdn.net/6.7/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/6.7/video.min.js"></script>
</head>

<body>
  <header>
    <% include ./components/navbar%>
  </header>

  <main>
    <div class="container-fluid">
      <div class="row py-4">
        <div class="col-md-3">
          <div class="adflexbox" id="a4a584bdc567f35ace484102593db5a71"></div>
<script>
    (function(d, w) {
        if (!w.adflex) {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//portal.adstargets.com/loader.js";
            d.getElementsByTagName('head')[0].appendChild(s);
            w.adflex = {host: '//portal.adstargets.com'};
        }
    })(document, window);
</script>
        </div>
        <div class="col-md-6">
          <h6 class="btn text-white w-100 font-weight-bold" style="background-image: linear-gradient(to top, #CA7C0D, #F3CCC4);"><%-episode.anime%></h6>
          <div>
            <div class="dropdown">
              Season: <%-episode.seasonNo%>
              <button class="select dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Episode: <%= episode.episodeNo %> <%=episode.name %>
              </button>
              <div class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButton" style="max-height: 300px;background-color: #000;">
                <% episodes.forEach(function(e,i){%>
                  <a class="dropdown-item <%-(episode.episodeNo==e.episodeNo)?'disabled text-secondary':'text-orange'%>" href="/anime/play/<%-episode.anime.trim().replace(/ /g,'-')%>/<%-encrypt(episode.seasonNo)%>/<%-encrypt(i+1)%>">Episode: <%-i+1%> <%=e.name %></a>
                <%}) %>
              </div>
            </div>
            
          </div>

          <div class="embed-responsive embed-responsive-16by9 my-2" style="position:relative;background-color:#e4e4e4;">
            <iframe src="https://drive.google.com/file/d/<%-episode.vid.trim()%>/preview?start=1&autopaly=1&onload=start" width="800"
              height="450" frameborder="0" allowfullscreen scrolling="no" seamless=""></iframe>
            <div style="width:53px; height:80px; position:absolute; opacity:1;right:0px;top:0px;">
              <img src="/images/logo/logo_light.png" width="120" />
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <a class="btn <%-(episode.episodeNo>1)?'text-orange':'disabled text-secondary'%>" href="/anime/play/<%-episode.anime.trim().replace(/ /g,'-')%>/<%-encrypt(episode.seasonNo)%>/<%-encrypt(episode.episodeNo-1)%>">Previous</a>
            <a class="btn <%-(episode.episodeNo<episodes.length)?'text-orange':'disabled text-secondary'%>" href="/anime/play/<%-episode.anime.trim().replace(/ /g,'-')%>/<%-encrypt(episode.seasonNo)%>/<%-encrypt(Number(episode.episodeNo)+1)%>">Next</a>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-md-3">
          <div class="adflexbox" id="afdaaa1911178d5cdc7bbb8b661f1525c"></div>
<script>
    (function(d, w) {
        if (!w.adflex) {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//portal.adstargets.com/loader.js";
            d.getElementsByTagName('head')[0].appendChild(s);
            w.adflex = {host: '//portal.adstargets.com'};
        }
    })(document, window);
</script>
        </div>
      </div>
    </div>
    <br/>
    <div class="adflexbox" id="a7873a8c3334c04d4845ae6dc769886ac"></div>
<script>
    (function(d, w) {
        if (!w.adflex) {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.src = "//portal.adstargets.com/loader.js";
            d.getElementsByTagName('head')[0].appendChild(s);
            w.adflex = {host: '//portal.adstargets.com'};
        }
    })(document, window);
</script>
  </main>
  <br/>
  <!-- comments -->

  <% include ./components/footer%>
</body>

</html>