<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./components/header%>
    <link href="//vjs.zencdn.net/6.7/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/6.7/video.min.js"></script>
  </head>
  <body>
    <header>
      <% include ./components/navbar%>
    </header>

    <main>
      <div class="container">
        <%-episode.anime%><br>
        Season: <%-episode.seasonNo%><br>
        Episode: <%-episode.episodeNo%><%-episode.name%>
        <br>
        <div class="embed-responsive embed-responsive-16by9" style="position:relative;background-color:#e4e4e4" >
          <iframe src="https://drive.google.com/file/d/<%-episode.vid.trim()%>/preview?start=1&autopaly=1" width="800" height="450" frameborder="0" allowfullscreen scrolling="no" seamless=""></iframe>
          <div style="width:120px; height:80px; position:absolute; opacity:1;right:0px;top:0px;">
            <img src="/images/logo/logo_light.png" width="120"/>
          </div>
        </div>
      </div>
    </main>
    <% include ./components/footer%>
  </body>
</html>
